<nav class="sidebar">
  <div class="brand">
    <i class="fas fa-store"></i>
    <span>ShopTrack</span>
  </div>
  <ul class="nav-menu">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.route" routerLinkActive="active">
        <i class="fas {{ item.icon }}"></i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <div class="user-info">
      <div class="avatar">AC</div>
      <div>
        <div class="user-name">Aadit Chaurasia</div>
        <div class="user-role">Developer</div>
      </div>
    </div>
  </div>
</nav>
